.Admin {
    margin: 8% auto;
}

.Admin-table {
    width: 80vw !important;
    margin: auto;
}

.Admin-table th {
    font-weight: bold;
    font-size: large;
    color: #29b6f6;
}

.Admin-table th, .Admin-table td {
    text-align: center;
}